{% extends "base.html" %}
{% load static %}
{% block title %}
Your shopping cart
{% endblock %}
{% block content_base %}
<h1>Your shopping cart</h1>
<div class="table-responsive">
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>#</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total price</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart_instance %}
      <tr>
        <td>
          {{forloop.counter}}
        </td>
        <td>
          <div class="d-flex align-items-center">
            <img src="{{item.product.image.url}}" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{item.product.title}}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{item.price}}$</p>
        </td>
        <td>
          <form action="{% url 'cart:cart_add' item.product.pk %}" method="post" class="editQuantityForm">
            <span class="quantityReal" id="{{item.product.id}}_quantity">{{item.quantity}}</span>
            {% csrf_token %}
            <input type="number" name="quantity" min="1" required="" value="{{item.quantity}}" style="display: none;" class="quantityEdit">
            <input type="hidden" name="update" value="True">
            <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold quantityReal" onclick="editQuantity(event)">
              Edit
            </button>
            <button type="submit" class="btn btn-link btn-rounded btn-sm fw-bold quantityEdit"  style="display: none;">
              Confirm
            </button>
            <button type="button" class="back btn btn-link btn-rounded btn-sm fw-bold quantityEdit"  style="display: none;" onclick="confirmClose(event)">
              Back
            </button>
          </form>
        </td>
        <td>
          <p class="fw-normal mb-1" id="{{item.product.id}}_total_price">{{item.total_price}}$</p>
        </td>
        <td>
          <a href="{% url 'cart:cart_remove' item.product.pk %}"><button type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark" >Remove from cart</button></a>
        </td>
      </tr>

      {% endfor %}
      <tr>
        <td colspan="4">
          <b>TOTAL</b>
        </td>
        <td><b id="cart_total_cost">{{cart_instance.get_total_cost}}$</b></td>
      </tr>
    </tbody>
  </table>
</div>




<p class="text-right">
  <a href="{% url 'home' %}">
    <button type="button" class="btn btn-success btn-rounded">Continue shopping</button></a>
  <a href="{% url 'cart:order_received' %}"><button type="button" class="btn btn-success btn-rounded">Order</button></a>
</p>
{% endblock content_base %}