<!-- Modal -->
<div class="modal confirmationSuccess" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header colorBlack">
          <h5 class="modal-title" id="modalTitle"></h5>
          
        </div>
        <div class="modal-body colorBlack">
          <p id="modalBody"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" data-go-home="{% url 'home' %}" onclick="goHome(event)">Close</button>
        </div>
      </div>
    </div>
  </div>